[submodule "RunKit"]
	path = RunKit
	url = git@github.com:kandrosov/RunKit.git
[submodule "HHbtag"]
	path = HHbtag
	url = git@github.com:hh-italian-group/HHbtag.git
[submodule "Corrections"]
	path = Corrections
	url = git@github.com:cms-hh-bbtautau/Corrections.git
[submodule "PlotKit"]
	path = PlotKit
	url = git@github.com:kandrosov/PlotKit.git
